@charset "utf-8";

/* CSS Document */



* {

	margin:0;

	padding:0;

	margin:0 auto;

}

body {
	font-family: "宋体";
	font-size: 12px;
	color: #666;
	width: 1004px;
	background-color: #060;
}

img {

	border:0px;float:left;

}



a {

	text-decoration:none;

	color:#000;

}

li{ list-style:none;}



.nav{width:1004px; height:47px; background:url(../images/m3.jpg) no-repeat; float:left;}

.nav li{float:left;width:143px; font-size:16px; font-weight:bold; color:#FFF; text-align:center; line-height:48px;}

.nav a{color:#FFF;}

.m4{width:1004px; margin-top:-1px;}

.m9 m15 m21 m30 m38 m52 m69 m76 m87 m92 m96 m95 m102 m103{width:1004px; float:left;}

.bg{width:954px; float:left; line-height:24px; padding-top:10px; padding:10px 25px; background:#015603; font-size:14px; color:#FFF;}

.sp{font-size:14px; color:#FF3;}



.m69_a{background:url(../images/m75.jpg) no-repeat; width:1004px; height:266px; float:left;}

.m69_a_1{width:270px; height:100px; float:left; margin-left:76px; _margin-left:40px; margin-top:5px; line-height:24px; color:#FFF;}

.m69_a_2{width:270px; height:100px; float:right; margin-top:132px; margin-right:80px; _margin-right:40px; line-height:24px; color:#FFF;}

.m92_list{color:#F00; font-size:16px; font-weight:bold; padding-top:10px;}

.m9_list{color:#F00; margin-left:20px;}

.m95_a{background:url(../images/m95.jpg) no-repeat; width:1004px; height:413px; float:left;}

.t{ width:570px; height:360px; float:left; margin-left:27px; margin-top:20px; _margin-left:13px;display: block}



.b{background:#015603; border:0px;}



.m102_a{background:url(../images/m102.jpg) no-repeat; width:1004px; height:485px; float:left;}

.t_1{float:left; width:500px; height:354px; margin-top:110px; margin-left:40px; _margin-left:15px;}



.t_1_a{ margin-left:10px;width:200px;}

.ziti{ color:#999;}







.m9_a{background:url(../images/p14.jpg) no-repeat; width:1004px; height:393px; float:left;}

.ma9_a_1{width:270px; height:100px; float:left; margin-left:86px; _margin-left:43px; margin-top:110px; line-height:24px; color:#FFF;}

.ma9_a_2{width:270px; height:100px; float:right; margin-top:240px; margin-right:70px; _margin-right:35px; line-height:24px; color:#FFF;}

.m9_k{ width:1004px;background:url(../images/k_main.jpg) repeat-y; float:left;}







.m9_li{width:925px; float:left; border:1px #96b998 solid; margin-left:38px; _margin-left:19px;}

.m9_li li{width:925px; height:50px; line-height:50px; border-bottom: 1px #CCC solid;}

.m9_li li img{margin-left:400px; margin-top:5px;}



.shell1 a {

	display:block;/*这个属性是必须的*/

	float:left;

}

.shell1 li{width:925px; line-height:50px; border-bottom: 1px #CCC solid;}

.shell1 {

width:925px; float:left; border:1px #96b998 solid; margin-left:38px; _margin-left:19px;

}

#div11 {



	overflow:hidden;

width:925px; height:500px; line-height:50px; border-bottom: 1px #CCC solid;

}



.pj_img{width:100px; margin-left:400px;}















































.m9_list_1{ margin-left:20px;}

h4{ color:#F00; margin-top:15px;}

.m9_jd{width:1004px; float:left; background:url(../images/jd2.jpg) repeat-y;}

.m9_jd_li{width:910px; float:left; margin-left:50px; _margin-left:25px; line-height:24px;}



.tel {

	position:fixed;

	bottom:0;

	width:100%;

	background:none;

	z-index:100;

	text-align:center;

	_position:absolute;

_margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop);

}



.m104{
	width: 1004px;
	height: 100px;
	float: left;
	background: #e3e9df;
	text-align: center;
	line-height: 24px;
}



.m105{width:1004px; height:70px; float:left;}











.shell a {

	display:block;/*这个属性是必须的*/



	float:left;

	margin-left:10px;

margin-top:50px;



	_margin-left:7px;

}

.shell {	

background:url(../images/m93.jpg) no-repeat; width:1004px; height:411px; float:left; padding-top:30px;

}

#m92_p {

	overflow:hidden;

width:470px; height:290px; float:left; margin-left:45px; _margin-left:25px; margin-top:20px; padding:30px 20px; line-height:24px;

}
